body {
    background: linear-gradient(#669bbc,#ffb703 );
   
}

.captions {
    text-align: center;
    font-family: "Epunda Slab", sans-serif;
    color: #ffffff;
    text-shadow: 0 0 1px black;
    
}

.epunda-slab-regular {
  font-family: "Epunda Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}   

#keanupic {
    width: 190px;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    border: 5px solid #003049;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#birth_age, #birth_date {
    font-family: "Epunda Slab", sans-serif;
    font-weight: 100;
    color: #ffffff;
    text-shadow: 0 0 5px black;
    background-color: #003049;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;    
    margin-bottom: 0;
    margin-top: 10px;
}

#birth_date {
    margin-bottom: 20px;
}

.first_gift { 
    text-align: center;
    margin-top: 50px;
}

.gift_cover { 
    width: 400px;
    height: 400px;
    border: 5px solid white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-image: url("images/giftcover.jpg");
    background-size: cover;
}


.bot_0 {
    margin-bottom: 0;
}

.top_0 {
    margin-top: 10px;
}

#gift1:hover {
    background-image: url("images/happy.gif");
}

#gift2:hover {
    background-image: url("images/woah.gif");
}

#gift3:hover {
    background-image: url("images/breathtaking.gif");
}

#gift4:hover {
    background-image: url("images/tom.gif");
}

#gift5:hover {
    background-image: url("images/Thankyou.gif");
}

footer {
    font-style: italic;
}




